"" .ideavimrc - Matt Chapman


"" Base Settings
"" ========================================================

set scrolloff=10
set relativenumber
set showmode
set showcmd

set smartcase
set incsearch
set hlsearch

set visualbell

" Use system clipboard
set clipboard+=unnamed

let mapleader = " "

sethandler <C-b> a:vim
sethandler <C-j> a:vim
sethandler <C-k> a:vim
sethandler <F2> n-v:vim i:ide
sethandler <F3> n-v:vim i:ide
sethandler <F5> n-v:vim i:ide
sethandler <F10> n-v:vim i:ide
sethandler <F11> n-v:vim i:ide
sethandler <F12> n-v:vim i:ide


"" Plugin Settings
"" ========================================================

set surround
set highlightedyank
set sneak
set NERDTree
set which-key
set notimeout

set easymotion

"" Key mappings
"" ========================================================

inoremap jk <Esc>

" Tab navigation
nnoremap <A-n> :tabnext<CR>
nnoremap <A-p> :tabprev<CR>

" Jump between methods
nmap [[ <Action>(MethodUp)
nmap ]] <Action>(MethodDown)

" Easy visual indentation
vnoremap < <gv
vnoremap > >gv

vmap J <Action>(MoveLineDown)
vmap K <Action>(MoveLineUp)

" Execute macro saved in 'q' register
nnoremap qj @q

" Popup navigation
imap <C-j> <Action>(PopupMenu-selectNext)
imap <C-k> <Action>(PopupMenu-selectPrev)

nmap <C-k> <Action>(GotoNextError)
nmap <C-j> <Action>(GotoPreviousError)

map <C-b> <Action>(ActivateProjectToolWindow)
map <F3> <Action>(ReformatCode)

nmap gi <Action>(GotoImplementation)
nmap gd <Action>(GotoDeclaration)
nmap gy <Action>(GotoTypeDeclaration)
nmap gs <Action>(ParameterInfo)
nmap gr <Action>(ShowUsages)
nmap <F2> <Action>(RenameElement)

nmap <F5> <Action>(Resume)
nmap <F10> <Action>(StepOver)
nmap <F11> <Action>(StepInto)
nmap <F12> <Action>(StepOut)


"" Leader commands
"NERDTree" ========================================================

" Jump around with easymotion
nmap <leader>j <Plug>(easymotion-s)
nmap <leader>h <Plug>(easymotion-bd-w)

nnoremap <leader>pv :NERDTree<CR>
map <leader>f <Action>(ReformatCode)
map <leader>s <Action>(Replace)
map <leader>d <Action>(QuickJavaDoc)
map <leader>b <Action>(ToggleLineBreakpoint)
map <leader>lp <Action>(EditBreakpoint)

" Actions
map <leader>am <action>(ShowIntentionActions)
map <leader>. <Action>(ShowIntentionActions)
map <leader>lg <Action>(FindInPath)

" File navigation
map <leader>ff <action>(GotoFile)
map <leader>fb <Action>(Switcher)
map <leader>fr <action>(RecentFiles)
map <leader>fc <action>(FindInPath)
map <leader><leader> <Action>(RecentFiles)
map <leader>fl <action>(RecentLocations)
map <leader>fs <action>(NewScratchFile)

" Close active tab
map <leader>q <action>(CloseContent)

map <leader>tn <Action>(NewScratchFile)
map <leader>tl <Action>(NextTab)
map <leader>tr <Action>(PreviousTab)
map <leader>tc <Action>(CloseContent)
map <leader>to <Action>(CloseAllEditorsButActive)

" Git windows
map <leader>gs <Action>(ActivateCommitToolWindow)
map <leader>gvc <Action>(ActivateVersionControlToolWindow)
map g<leader> <Action>(EditSource)

" Errors
map <leader>en <Action>(ReSharperGotoNextErrorInSolution)
map <leader>ep <Action>(ReSharperGotoPrevErrorInSolution)
