"" .ideavimrc - Matt Chapman


"" Base Settings
"" ========================================================

set scrolloff=10
set relativenumber
set showmode
set showcmd

set smartcase
set incsearch
set hlsearch

set visualbell

" Use system clipboard
set clipboard+=unnamed   

let mapleader = " "


"" Plugin Settings
"" ========================================================

set surround
set highlightedyank
set sneak
set nerdtree

" Easymotion settings
set easymotion
set notimeout

" Which-key settings
set which-key
let g:WhichKey_FontSize = 16
let g:WhichKey_CommandColor = "#41ead4"
let g:WhichKey_PrefixColor = "#f335b2"
let g:WhichKey_SortOrder = "by_key_prefix_first"

let g:WhichKeyDesc_leader = "<leader> Leader key"

let g:WhichKeyDesc_leader = "<leader>x Open file explorer"

let g:WhichKeyDesc_easymotion = "<leader>j Jump with Easymotion"
let g:WhichKeyDesc_easymotion_prefix = "<leader><leader>"

let g:WhichKeyDesc_comment = "<leader>c Comment line"

let g:WhichKeyDesc_fold = "<leader>z Folding"
let g:WhichKeyDesc_fold_all = "<leader>zc Fold all regions"
let g:WhichKeyDesc_unfold_all = "<leader>zo Unfold all regions"

let g:WhichKeyDesc_window = "<leader>w Window splits"
let g:WhichKeyDesc_window_split_vertically = "<leader>wv Split vertically"
let g:WhichKeyDesc_window_split_horizontally = "<leader>wh Split horizontally"
let g:WhichKeyDesc_window_split_unsplit = "<leader>wu Unsplit"
let g:WhichKeyDesc_window_split_move_editor = "<leader>wm Move editor to opposite tab group"


let g:WhichKeyDesc_display = "<leader>d Display options"
let g:WhichKeyDesc_zen_mode = "<leader>dz Toggle Zen mode"
let g:WhichKeyDesc_df_mode = "<leader>dd Toggle Distraction-Free mode"
let g:WhichKeyDesc_fullscreen = "<leader>df Toggle full screen"

let g:WhichKeyDesc_action= "<leader>a Actions"
let g:WhichKeyDesc_action_context_menu = "<leader>am Open context menu"
let g:WhichKeyDesc_action_search = "<leader>as Open command modal"

let g:WhichKeyDesc_file_quickLook = "<leader><leader> Recent files"

let g:WhichKeyDesc_file_nav = "<leader>f File navigation"
let g:WhichKeyDesc_file_nav_goto_file = "<leader>ff Go to file"
let g:WhichKeyDesc_file_nav_goto_content = "<leader>fc Search for file content"
let g:WhichKeyDesc_file_nav_show_recent_files = "<leader>fr Show recent files"
let g:WhichKeyDesc_file_nav_show_recent_locations = "<leader>fl Show recent locations"

let g:WhichKeyDesc_close_tab = "<leader>q Close active tab"

let g:WhichKeyDesc_refactoring = "<leader>r Refactoring menu"
let g:WhichKeyDesc_refactoring_rename = "<leader>rn Rename element"
let g:WhichKeyDesc_refactoring_method = "<leader>rm Extract method"
let g:WhichKeyDesc_refactoring_variable = "<leader>rv Introduce variable"
let g:WhichKeyDesc_refactoring_field = "<leader>rf Introduce field"
let g:WhichKeyDesc_refactoring_signature = "<leader>rs Change signature"
let g:WhichKeyDesc_refactoring_all = "<leader>rr Open refactorings list"

let g:WhichKeyDesc_goto = "<leader>g Go to X"
let g:WhichKeyDesc_goto_declaration = "<leader>gd Go to Definition"
let g:WhichKeyDesc_goto_type_declaration = "<leader>gy Go to Type Definition"
let g:WhichKeyDesc_goto_implementation = "<leader>gi Go to Implementation"
let g:WhichKeyDesc_goto_usages = "<leader>gu Go to Usages"
let g:WhichKeyDesc_goto_test = "<leader>gt Go to Test"
let g:WhichKeyDesc_goto_back = "<leader>gb Go Back"
let g:WhichKeyDesc_goto_forward = "<leader>gf Go Forward"

let g:WhichKeyDesc_git = "<leader>g Git operations"
let g:WhichKeyDesc_git_commit = "<leader>gc Open Git commit dialog"
let g:WhichKeyDesc_git_status = "<leader>gs Open Git status dialog"
let g:WhichKeyDesc_git_branches = "<leader>gb Open Git branches list"

let g:WhichKeyDesc_errors = "<leader>e Error navigation"
let g:WhichKeyDesc_errors_next = "<leader>en Go to next error in solution"
let g:WhichKeyDesc_errors_prev = "<leader>ep Go to previous error in solution"


"" Key mappings
"" ========================================================

inoremap jk <Esc>

" Tab navigation
nnoremap <A-n> :tabnext<CR>
nnoremap <A-p> :tabprev<CR>

" Pane navigation
nnoremap <A-h> <C-w>h
nnoremap <A-l> <C-w>l
nnoremap <A-k> <C-w>k
nnoremap <A-j> <C-w>j

" Jump between methods
nnoremap [[ <Action>(MethodUp)
nnoremap ]] <Action>(MethodDown)

" Easy visual indentation
vnoremap < <gv
vnoremap > >gv

" Execute macro saved in 'q' register
nnoremap qj @q

" Popup navigation
inoremap <C-j> <Action>(PopupMenu-selectNext)
inoremap <C-k> <Action>(PopupMenu-selectPrev)


"" Leader commands
"" ========================================================

" Comment lines
map <leader>c <action>(CommentByLineComment)

" Jump around with easymotion
map <leader>j <Plug>(easymotion-s)
map <leader>f <Plug>(easymotion-f)

" Open NERDTree (use q to exit)
map <leader>pv :NERDTreeToggle<CR>

" Folding
map <leader>zc :action CollapseAllRegions<CR>
map <leader>zo :action ExpandAllRegions<CR>

" Window splits
map <leader>wv <Action>(SplitVertically)
map <leader>ws <Action>(SplitHorizontally)
map <leader>wu <Action>(Unsplit)
map <leader>wm <Action>(MoveEditorToOppositeTabGroup)

" Display options
map <leader>dd <action>(ToggleDistractionFreeMode)
map <leader>dz <action>(ToggleZenMode)
map <leader>df <action>(ToggleFullScreen)

" Actions
map <leader>am <action>(ShowIntentionActions)
map <leader>lg <action>(SearchEverywhere)

" File navigation
map <leader>ff <action>(GotoFile)
map <leader>fr <action>(RecentFiles)
map <leader>fc <action>(FindInPath)
map <leader><leader> <Action>(RecentFiles)
map <leader>fl <action>(RecentLocations)
map <leader>fs <action>(NewScratchFile)

" Close active tab
map <leader>q <action>(CloseContent)

" Refactoring
map <leader>rn <Action>(RenameElement)
map <leader>rm <Action>(ExtractMethod)
map <leader>rv <Action>(IntroduceVariable)
map <leader>rf <Action>(IntroduceField)
map <leader>rs <Action>(ChangeSignature)
map <leader>rr <Action>(Refactorings.QuickListPopupAction)

" Go to code
nmap <leader>gd <Action>(GotoDeclaration)
nmap <leader>gy <Action>(GotoTypeDeclaration)
nmap <leader>gi <Action>(GotoImplementation)
nmap <leader>gu <Action>(ShowUsages)
nmap <leader>gt <Action>(GotoTest)
nmap <leader>gf <Action>(Back)
nmap <leader>gb <Action>(Forward)

" Git windows
map <leader>gc <Action>(CheckinProject)
map <leader>gs <Action>(ActivateVersionControlToolWindow)
map <leader>gb <Action>(Git.Branches)

" Errors
map <leader>en <Action>(ReSharperGotoNextErrorInSolution)
map <leader>ep <Action>(ReSharperGotoPrevErrorInSolution)


"" ========================================================
"" Enhanced Configuration - Added December 2024
"" ========================================================

"" Additional Plugins
"" ========================================================
set commentary       " gcc to comment line, gc to comment motion
set ReplaceWithRegister  " gr{motion} to replace with register
set exchange         " cx{motion} to exchange, cxx for line, X in visual
set textobj-entire   " ae/ie for entire buffer
set argtextobj       " aa/ia for arguments, daa to delete arg
set multiple-cursors " <C-n> for next occurrence
set matchit          " % to jump between matching brackets/tags
set quickscope       " Highlight jump targets

" Configure argtextobj to handle more bracket types
let g:argtextobj_pairs="[:],(:),<:>"

" Configure quickscope to highlight on specific keys
let g:qs_highlight_on_keys = ['f', 'F', 't', 'T']


"" Multiple Cursors Remapping
"" ========================================================
" Remap multiple-cursors to match vim-multiple-cursors plugin
nmap <C-n> <Plug>NextWholeOccurrence
xmap <C-n> <Plug>NextWholeOccurrence
nmap g<C-n> <Plug>NextOccurrence
xmap g<C-n> <Plug>NextOccurrence
xmap <C-x> <Plug>SkipOccurrence
xmap <C-p> <Plug>RemoveOccurrence


"" Enhanced Settings
"" ========================================================
set ideajoin         " Use IDE's join/J command for better formatting
set idearefactormode=keep  " Keep mode when refactoring
set ideamarks        " Sync marks with IDE bookmarks
set number           " Show line numbers (better than relativenumber for SQL)


"" Text Object Improvements
"" ========================================================
" Better paragraph navigation
map <leader>{ <Action>(EditorCodeBlockStart)
map <leader>} <Action>(EditorCodeBlockEnd)

" Select entire function/method
map vaf <Action>(EditorSelectWord)<Action>(EditorUnSelectWord)<Action>(MethodUp)<Action>(VimVisualToggleBlockMode)<Action>(MethodDown)


"" Database & SQL Navigation (DataGrip Compatible)
"" ========================================================
let g:WhichKeyDesc_database = "<leader>s SQL/Database"
let g:WhichKeyDesc_database_execute = "<leader>se Execute statement"
let g:WhichKeyDesc_database_execute_new = "<leader>sn Execute in new tab"
let g:WhichKeyDesc_database_console = "<leader>sc Open console"
let g:WhichKeyDesc_database_history = "<leader>sh Query history"

map <leader>se <Action>(ExecuteStatement)
map <leader>sn <Action>(ExecuteInNewConsole)
map <leader>sc <Action>(DatabaseView.OpenDdlInConsole)
map <leader>sh <Action>(Console.History.Browse)


"" Run & Debug Actions (Cross-IDE Compatible)
"" ========================================================
let g:WhichKeyDesc_run = "<leader>R Run/Debug"
let g:WhichKeyDesc_run_run = "<leader>Rr Run"
let g:WhichKeyDesc_run_debug = "<leader>Rd Debug"
let g:WhichKeyDesc_run_stop = "<leader>Rs Stop"
let g:WhichKeyDesc_run_config = "<leader>Rc Edit configurations"

map <leader>Rr <Action>(Run)
map <leader>Rd <Action>(Debug)
map <leader>Rs <Action>(Stop)
map <leader>Rc <Action>(editRunConfigurations)


"" Code Navigation Enhancements
"" ========================================================
let g:WhichKeyDesc_peek = "<leader>p Peek/Preview"
let g:WhichKeyDesc_peek_definition = "<leader>pd Peek definition"
let g:WhichKeyDesc_peek_implementation = "<leader>pi Peek implementation"
let g:WhichKeyDesc_peek_usages = "<leader>pu Peek usages"
let g:WhichKeyDesc_peek_documentation = "<leader>ph Show documentation"

map <leader>pd <Action>(QuickImplementations)
map <leader>pi <Action>(QuickImplementations)
map <leader>pu <Action>(ShowUsages)
map <leader>ph <Action>(QuickJavaDoc)


"" Better Search & Replace
"" ========================================================
let g:WhichKeyDesc_search_replace = "<leader>S Search/Replace"
let g:WhichKeyDesc_search_replace_file = "<leader>Sr Replace in file"
let g:WhichKeyDesc_search_replace_project = "<leader>Sp Replace in project"
let g:WhichKeyDesc_search_everywhere = "<leader>Se Search everywhere"

map <leader>Sr <Action>(Replace)
map <leader>Sp <Action>(ReplaceInPath)
map <leader>Se <Action>(SearchEverywhere)

" Clear search highlighting with escape
nnoremap <Esc> :nohlsearch<CR>


"" Terminal & Tool Windows
"" ========================================================
let g:WhichKeyDesc_terminal = "<leader>t Terminal/Tools"
let g:WhichKeyDesc_terminal_open = "<leader>tt Open terminal"
let g:WhichKeyDesc_terminal_database = "<leader>td Database tool"
let g:WhichKeyDesc_terminal_git = "<leader>tg Git tool"
let g:WhichKeyDesc_terminal_structure = "<leader>ts Structure view"

map <leader>tt <Action>(ActivateTerminalToolWindow)
map <leader>td <Action>(ActivateDatabaseToolWindow)
map <leader>tg <Action>(ActivateVersionControlToolWindow)
map <leader>ts <Action>(ActivateStructureToolWindow)


"" Bookmarks & Marks Enhancement
"" ========================================================
let g:WhichKeyDesc_bookmark = "<leader>b Bookmarks"
let g:WhichKeyDesc_bookmark_toggle = "<leader>bt Toggle bookmark"
let g:WhichKeyDesc_bookmark_list = "<leader>bl List bookmarks"
let g:WhichKeyDesc_bookmark_next = "<leader>bn Next bookmark"
let g:WhichKeyDesc_bookmark_prev = "<leader>bp Previous bookmark"

map <leader>bt <Action>(ToggleBookmark)
map <leader>bl <Action>(ShowBookmarks)
map <leader>bn <Action>(GotoNextBookmark)
map <leader>bp <Action>(GotoPreviousBookmark)


"" Quick Actions
"" ========================================================
" Quick fix with Alt+Enter (matches IDE default)
map <A-CR> <Action>(ShowIntentionActions)

" Format selection or file
"vnoremap = <Action>(ReformatCode)
"nnoremap == <Action>(ReformatCode)

" Expand/Collapse code blocks
map zM <Action>(CollapseAllRegions)
map zR <Action>(ExpandAllRegions)
map za <Action>(ExpandCollapseToggleAction)

" Smart completion
imap <C-Space> <Action>(CodeCompletion)
imap <C-S-Space> <Action>(SmartTypeCompletion)
