[user]
	name = James Dorevski
	email = jdorevski@me.com
[alias]
	st = status
	aa = add .
	cm = commit
	pu = push
	pl = pull
	rest = restore
    diff = diff --color-words
[push]
	autoSetupRemote = true
[pull]
	rebase = false
