[user]
	name = James Dorevski
    email = "james.dorevski@lumachain.io"

[alias]
	st = status
	aa = add .
	cm = commit
	pu = push
	pl = pull
	rest = restore 
[push]
	autoSetupRemote = true
[pull]
	rebase = false
